@import url("https://fonts.googleapis.com/css?family=Catamaran:900|Roboto&display=swap");

/****************** TAG ITEMS ******************/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h3 {
  text-align: center;
  font-family: Catamaran;
}

table {
  text-align: center;
  font-family: Roboto;
}

tr:nth-child(2n) {
  background: rgb(199, 192, 192);
}

button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.15em;
}

/****************** CLASS ITEMS ******************/

.content {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

.center-item {
  grid-column: 3;
}

.top-item {
  grid-row: 1;
}

.middle-item {
  grid-row: 2;
}

/****************** ID ITEMS ******************/
